*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(https://i.pinimg.com/originals/a6/28/77/a62877f83a2d6ff8d578b5677d772ecc.gif);
    background-repeat: no-repeat;
    background-size: cover;
}